.gantt
  background-color: #AAA
  padding: 5px

.gantt-table
  width: 100%
  background-color: white
  td
    text-align: center
    border: 1px solid #E0E0E0
  td.header-col
    border-right: 2px solid black
    background-color: #f2f0e9
  thead td
    background-color: #f2f0e9
  td.first-header
    background-color: white
