.gantt
  border: 5px solid gray
  .table
    margin: 0
    td, th
      padding: 0 !important
      vertical-align: middle
      text-align: center
      &.first-col
        width: 1px
        padding-right: 3px !important
        padding-left: 3px !important

    &.striped>tbody>tr:nth-of-type(odd)>td
      background-color: #F9F9F9

